{% extends "layout.html" %}

{% block title %}{{pagination.title|title}} - {{site.name}}{% endblock %}

{% block afterstyle %}
<meta name="description" content="{{pagination.title|description}}" />
{% endblock %}

{% block main %}

{%- if pagination.title != 'Archive' -%}
<nav>
    <h2>
        <a href="{{ content_url(site.prefix, 'index.html') }}" title="Discards filter and display all posts!">&times;</a>
        Selected tag: #{{pagination.title}}
        <!-- sup class="small faded">
            <a href="{{ content_url(site.prefix, 'tag', 'index.html') }}">
                Display all tags!
            </a>
        </sup -->
    </h2>
    <nav class="tagcloud">
        <div class="tags">
            {% for tag in resource.tag -%}
            {%- set items = resource.tag[tag] -%}
            {%- if pagination.title == tag -%}<strong>{%- endif -%}
            <a href="{{ content_url(site.prefix, 'tag', tag, 'index.html') }}">{{tag}}<span class="count">({{items|length}})</span></a>
            {%- if pagination.title == tag -%}</strong>{%- endif -%}
            {%- endfor %}
        </div>
    </nav>
</nav>
{%- endif -%}

<ul class="entry-list">
    {% set year = 0 -%}
    {% for item in pagination.items %}
    {%- if item.date.year != year %}
    {% set year = item.date.year -%}
    <li class="entry-item entry-item-title">
        <h2>
            <a href="{{item|year_url}}">{{item.date.year}}</a>
        </h2>
    </li>
    {%- endif %}
    <li class="entry-item">
        <time class="updated" datetime="{{item.date|xmldatetime}}">{{item.date.strftime('%Y-%m-%d')}}</time>
        <a href="{{item|permalink}}" class="post-link">{{item.title}}</a>
        <small class="tag-list">
            {%- for tag in item.tags -%}
                {% if tag in theme.main_tags %}
                    <a href="{{ content_url(site.prefix, 'tag', tag, 'index.html') }}">#{{tag}}</a>
                {% endif %}
            {%- endfor -%}
        </small>
    </li>
    {% endfor %}
</ul>
{% if pagination.has_prev or pagination.has_next %}
<hr class="end" />
<nav class="pagination" role="pagination">
    {% if pagination.has_prev %}
    <a class="prev" href="{{ content_url(pagination.root, 'page', pagination.prev_num) }}">«Prev</a>
    {% else %}
    <span class="prev">«Prev</span>
    {% endif %}

    <span class="current">
        {{ pagination.page }} / {{ pagination.pages }}
    </span>

    {% if pagination.has_next %}
    <a class="next" href="{{ content_url(pagination.root, 'page', pagination.next_num) }}">Next»</a>
    {% else %}
    <span class="next">Next»</span>
    {% endif %}
</nav>
{% endif %}
{% endblock %}
